@import "nullstyle.scss";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding-left: 50px;
    font-size: 22px ;
}

h1 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

button{
height: 22px;
width: 100px;
font-size: 18px;
border-radius: 25%;
background-color: aqua;
}