@import "nullstyle.scss";

h1 {
    font-size: 25px;
    font-weight: 700;
}
h2 {
    font-size: 14px;
    font-weight: 500;
}

li {
    font-size: 14px;
    font-weight: 500;
    margin:  20px 0px 0px 20px;
}